@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

main {
    background-color: coral;
    width: 56rem;
    height: 31.4rem;
    display: grid;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.16rem;
}

.c1 {
    background-color: hsl(31, 77%, 52%);
}
.c2 {
    background-color: hsl(184, 100%, 22%);
}
.c3 {
    background-color: hsl(179, 100%, 13%);
}


.title {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.3rem;
    color: hsl(0, 0%, 95%);
}

.text {
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9rem;
}

button {
    border-radius: 3rem;
    border: none;
    padding: 1rem 2.5rem;
    align-self: flex-start;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.c1 button {
    color: hsl(31, 77%, 52%);
}
.c2 button {
    color: hsl(184, 100%, 22%);
}
.c3 button {
    color: hsl(179, 100%, 13%);
}

.c1 button:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    border: 2px solid hsl(0, 0%, 95%);
}
.c2 button:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    border: 2px solid hsl(0, 0%, 95%);
}
.c3 button:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    border: 2px solid hsl(0, 0%, 95%);
}


@media (max-width: 930px) {
    main {
        grid-template-rows: 1fr 1fr 1fr;
        margin: 1rem;
        max-width: 440px;
    }
    
    button {
        margin-top: 2rem;
    }
}


@media (min-width: 931px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}